#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(10,10,10,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.loading-container {
    text-align: center;
    position: relative;
}

/* .spinner {
    width: 80px;
    height: 80px;
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    bottom: -100px;
    right: -100px;
} */

.loading-text {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.loading-text span {
    opacity: 0;
    animation: dots 1.5s infinite;
}

.loading-text span:nth-child(1) { animation-delay: 0.2s; }
.loading-text span:nth-child(2) { animation-delay: 0.4s; }
.loading-text span:nth-child(3) { animation-delay: 0.6s; }

/* Animation du spinner */
/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

/* Animation des points */
@keyframes dots {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
